[submodule "tests/born2beroot-tester-rocky"]
	path = tests/born2beroot-tester-rocky
	url = git@github.com:codingvivi/Born2BeRootTester-RockyEdition.git
[submodule "tests/vrockychecc"]
	path = tests/vrockychecc
	url = git@github.com:codingvivi/born2beroot-Vrockychecc.git
